:root {
    --primary-color: #01010B;
    --neon-blue: #1DACFF;
    --neon-red: #FF0206;
    --neon-green: #00FF5E;
    --text-main: #FFFFFF;
    --text-light: #B9B9B9;
}

.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansation-light-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sansation-regular-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansation-bold-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: 'Sansation', sans-serif;
  color: var(--text-main);
  background-color: var(--primary-color);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
}

.section {
  padding: 80px 0;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

#hero, #price, #gallery {
  scroll-margin-top: 88px; 
}


@media (max-width: 768px) {
  #hero, #price, #gallery {
    scroll-margin-top: 120px; 
  }
}